<h1>Albumy</h1>
  
<div class="row">
  <% @albums.each do |album| %>
    <div class="small-12 medium-6 large-3 columns">
      <div class="album-cover-photo">
        <%= link_to image_tag(album.cover_photo_url), album_path(album.id) %>
      </div>
      <h5><%= album.title %></h5>
    </div>
  <% end %>
</div>
