.album {
	width: 300px;
	height: 300px;
	display: inline;
}

.album-cover-photo {
    overflow: hidden;
    width: 300px;
    height: 200px;
}

img.album-cover-photo {
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
